* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

html {
    --first-color: #89C5FD;
    --second-color:#171FBF;
    --thrid-color: #D98E31;
    --forth-color: #F9F6F6;
    --fifth-color: #000000;
}

@font-face {
    font-family: sansation;
    src: url(text/Sansation_Regular.ttf);
  }

  @font-face {
    font-family: sansation_light;
    src: url(text/Sansation_Light.ttf);
  }

h1 {
    font-family: sansation;
    text-align: center;
    color: var(--second-color);
}

h2 {
    font-family: sansation_light;
    color: var(--second-color);

}

h3{
    text-align: center;
    margin: 1.5rem;
    font-family: sansation_light;
    color: var(--second-color);

}

h4 {
    font-family: sansation_light;
}

a {
    font-family: "Pontano Sans", sans-serif;
    color: var(--forth-color);
    text-decoration: none;
    font-size: 1.2rem;
}

p {
    font-family: "Pontano Sans", sans-serif;
}

li {
    font-family: "Pontano Sans", sans-serif;

}

footer {
    margin: 3rem 0 1rem 0;
    text-align: center;
}
.portfolio_main{
    margin: 1rem
}

.portfolio_main img{
    border: solid 2px var(--thrid-color);
}

